body {
  background-color: lightblue;
}
.head {
  color: darkblue;
  text-align: center;
  border: 3px solid blue;
  background-color: orange;
  padding: 50px 25px;
}
.sub-head {
  color: teal;
  margin: 20px auto;
}
.body {
  color: slateblue;
}
.background {
  background-color: salmon;
  padding: 5px 5px;
  border: 3px solid cyan;
}
